Source: cufflinks1.3.0
Section: science
Priority: optional
Build-Depends: debhelper (>= 7)
Maintainer: The Genome Institute <gmt@genome.wustl.edu>
Homepage: http://cufflinks.cbcb.umd.edu/

Package: cufflinks1.3.0
Architecture: amd64
Depends:  
Description: Cufflinks assembles transcripts, estimates their abundances, and tests for differential expression and regulation in RNA-Seq samples. It accepts aligned RNA-Seq reads and assembles the alignments into a parsimonious set of transcripts. Cufflinks then estimates the relative abundances of these transcripts based on how many reads support each one, taking into account biases in library preparation protocols. 

