#!/usr/bin/make -f

PKG=$(shell dh_listpackages)
VERSION=2.1.1
DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	for FILE in ./debian/$(PKG)/usr/bin/*; do \
	  mv $$FILE ./debian/$(PKG)/usr/bin/`basename $$FILE`$(VERSION); \
	done

override_dh_auto_configure:
	dh_auto_configure -- --with-boost=/opt/boost-tgi/1.51
