#!/usr/bin/make -f

PKG=$(shell dh_listpackages)
VERSION=1.3.0

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	mkdir -p ./debian/$(PKG)/usr/lib/$(PKG)
	mv ./debian/$(PKG)/usr/* ./debian/$(PKG)/usr/lib/$(PKG)/
	mkdir -p ./debian/$(PKG)/usr/bin/
	for FILE in bin-wrappers/*; do \
	  cat $$FILE | sed 's/VERSION/$(VERSION)/g' >  ./debian/$(PKG)/usr/bin/`basename $$FILE`-$(VERSION); \
	done
